.detournee{
    font-style: italic;
    text-decoration: underline;
}

.contandante{
    font-weight: bold;
}

article h1,h2,h3{
    color:red
}

aside nav ul ul {
    list-style-type: none;
}

#armes ul{ 
    list-style-type: ;
    color: green;
}

#armes li>ul{
    color: blue;
}

a img{
    width: 1em;
    height: 1em;
}

aside img{
    width: 5vw;
    height: 5vh;
}

article>section#annexes>section:last-of-type>ul>li{
    list-style-type: none;
}
